name: Build and Release Plugin

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

env:
  PROJECT_PATH: 'Emby.Plugin.StashBox/Emby.Plugin.StashBox.csproj'
  OUTPUT_PATH: 'Emby.Plugin.StashBox/bin/Release.Emby/netstandard2.1/Emby.Plugin.StashBox.dll'

jobs:
  build-and-release:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Restore dependencies
      run: dotnet restore ${{ env.PROJECT_PATH }}

    - name: Build Release for Emby
      run: MSBuild -t:Restore,Build -p:RestorePackagesConfig=true -property:Configuration=Release.Emby ${{ env.PROJECT_PATH }}

    - name: Upload DLL to Release
      uses: softprops/action-gh-release@v2
      with:
        files: ${{ env.OUTPUT_PATH }}
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
